.error {
    color: #ff0000;
}

.errorblock {
    color: #000;
    background-color: #ffEEEE;
    border: 3px solid #ff0000;
    padding: 8px;
    margin: 16px;
}

body {
    background-color: burlywood;
    margin: 0px;
}

body h1 {
    color:  #172755;
    margin-bottom: 30px;
}

header {
    margin: auto;
    background-position: top center;
    height: 100px;
    padding-top: 10px;
    background-color: #172755;
    background-size: cover;
    font-family: Rubik,Helvetica, Arial, sans-serif;
    border-bottom: 1px solid #FFF1E4;
    display: flex;
    flex-flow: column nowrap;
    max-width: 100%;
}

.header_main {
    display: grid;
}

.header_menu {
    max-width: 1080px;
    background-position: top center;
    margin: auto;
    display: flex;
}

body a {
    color: white;
}

body a:hover {
    color: #cb8501;
}

button {
    background-color: #cb8501;
    border-radius: 20px;;
    text-align: center;
    color: #EAEDF4;
    font-size: 18px;
    border: 1px;
    border-color: #cb8501;
    padding: 4px 50px;
}

button:hover {
    background-color: white;
    color:#cb8501;
    transition: 0.3s;
}

.buton {
    background-color: #cb8501;

    text-align: center;
    color: #EAEDF4;
    font-size: 18px;
    border: 1px;
    border-color: #cb8501;
    padding: 3px 50px;
}

.buton:hover {
    background-color: white;
    color:#cb8501;
    transition: 0.3s;
}



/* menu de navegación*/
nav {
    text-align: center;
}

.nav_container {
    padding-top: 10px;
}

nav ul.menu {
    margin: auto;
}

footer nav ul.menu {
    margin: auto;

}

nav li {
    display: inline;
}

nav a {
    text-decoration: none;
    color: inherit;
    font-size: 18px;
    font-weight: normal;
    display: inline-block;
    padding: 10px 10px;
    text-align: center;
    color: #EAEDF4;
}

nav a:hover {
    text-decoration: underline;
    text-underline-offset: 6px;
    text-decoration-style: solid;
    text-decoration-thickness: 4px;
    color: #EAEDF4;
    text-decoration-color: #cb8501;
}

.paintings_image {
    max-width: 1080px;
    margin: 0 auto;
    padding: 30px 30px 0 30px;
}

.main_features {
    max-width: 1080px;
    margin: 0 auto;
    padding: 30px 30px 0 30px;
}

.main_features h2 {
    text-align: center;
    vertical-align: middle;
    line-height: 450px;
}
/* Index box decoration*/
.index_sculptures_box {
    background-image: url(https://images.unsplash.com/photo-1575223970966-76ae61ee7838?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: bottom;
    height: 450px;
    width: auto !important;
}

.index_painting_box {
    background-image: url(https://images.unsplash.com/photo-1518998053901-5348d3961a04?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: center;
    height: 450px;
    width: auto !important;
}

.index_artists_box {
    background-image: url(https://images.unsplash.com/photo-1658314756129-5b27f344b65b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1472&q=80);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: top;
    height: 450px;
    width: auto !important;
}

.index_museums_box {
    background-image: url(https://images.unsplash.com/photo-1616432725307-b93cc6098dc5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: top;
    height: 450px;
    width: auto !important;
}

.index_exchange_box {
    background-image: url(https://images.unsplash.com/reserve/nTr1589kTgyXCOdStCGm_MikaRuusunen.jpg?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: top;
    height: 450px;
    width: auto !important;
}


/*Horizontal Scrolling */
.horizontal-scroll-wrapper {
    margin: 0px;
    display: flex;
    grid-auto-flow: column;
    gap: 1rem;
    height: 750px;
    padding-left: 80px;
    width: auto;
    overflow-y: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    background-color: white;
    background-color: burlywood;
}

.painting {
    width: auto;
    display: flex; /* block on top*/
    grid-auto-flow: column;
    gap: 2rem;
}

.left {
    right: 300px;
    top: 0;
    bottom: 0;
    left: 0;
    /*height: 700px;*/
    /*display: inline-grid;*/
}

.left img {
    height: 600px;
}

.left p, h1, h2, h3, h4, p {
    text-align: left;
}

.right {
    float: right;
    width: 550px;
    padding: 0 8px 0 8px;
    box-sizing: border-box;
    display: inline; /*contents */
    text-align: left;
}


.paintings_main {
    text-align: center;
    background-color: burlywood;
}

.paintings_main h1{
    margin-left: 80px;
    padding-top: 60px;
    margin-bottom: 20px;
}

.paintings_main .topnav{
    margin-left: 80px;
    margin-bottom: 60px;
}

/* Search bar */
.topnav {
    margin-bottom: 50px;
    display: flex;
}

.topnav .search-container button {
    float: left;
    padding-top: 6.5px;
    padding-bottom: 6.5px;
    margin-top: -5px;
}

.topnav .search-container {
    display: list-item;
    margin-top: -10px;
    list-style: none;
}

.topnav .search-container form {
    margin-top: 0px;
}

.topnav p {
    float: left;
    padding-right: 50px;
}

.form-control {
    float: left;
    margin-top: -5px;
}
